<footer>
    <div class="row">
        <div class="col-4">
            <h5>Офис м. Водный стадион</h5>
            <p>г. Москва, ул. Выборгская, 22 стр. 3</p>

            <h5>Офис Долгопрудный</h5>
            <p>г. Долгопрудный, Транспортный проезд, 6а</p>

            <h5>Офис Санкт‑Петербург</h5>
            <p>г. Санкт‑Петербург, ул. Магнитогорская, 30 лит А</p>
        </div>
        <div class="col-2">
            <h5>Оформление заказа</h5>
            <a href="#">+7 (495) 799-96-69</a>
            <a href="#">+7 (812) 740-11-10</a>
            <p>9:00 — 21:00 в будни;</p>
            <p>с 10:00 — 18:00 в выходные.</p>
        </div>
        <div class="col-2">
            <h5>Отдел доставки</h5>
            <a href="#">+7 (495) 799-96-69</a>
            <a href="#">+7 (812) 740-11-10</a>
            <p>9:00 — 18:00 в будни;</p>
        </div>
        <div class="col-4">
            <h5>Покупателям</h5>
            <a href="#">Контакты</a>
            <a href="#">Доставка</a>
            <a href="#">Оплата</a>
            <a href="#">Гарантия</a>
            <a href="#">Возврат товара</a>
            <a href="#">Услуги</a>
            <a href="#">О компании</a>
            <a href="#">Вакансии</a>
            <a href="#">Карта сайта</a>
            <a href="#">Аффилиатная программа</a>
            <a href="#">Рекомендательные технологии</a>
            <a href="#">Коллекции</a>
        </div>
    </div>
    <div class="d-flex">
        <div class="p-2 flex-fill">
            <div class="footer-social-link">
                <a href="#">
                    <img src="../pic/footer/icon-vk.svg">
                </a>
            </div>
            <div class="footer-social-link">
                <a href="#">
                    <img src="../pic/footer/icon-odnoklassniki.svg">
                </a>
            </div>
            <div class="footer-social-link">
                <a href="#">
                    <img src="../pic/footer/icon-youtube.svg">
                </a>
            </div>
            <div class="footer-social-link">
                <a href="#">
                    <img src="../pic/footer/icon-habr.svg" class="site_header__icon--default">
                </a>
            </div>
            <div class="footer-social-link">
                <a href="#">
                    <img src="../pic/footer/icon-dzen.svg" class="site_header__icon--default">
                </a>
            </div>
            <div class="footer-social-link">
                <a href="#">
                    <img src="../pic/footer/icon-telegram.svg" class="site_header__icon--default">
                </a>
            </div>
        </div>
        <div class="p-2 flex-fill">
            <div class="footer-market-link">
                <a href="#">
                    <img src="../pic/footer/app-store.svg" class="site_header__icon--default">
                </a>
            </div>
            <div class="footer-market-link">
                <a href="#">
                    <img src="../pic/footer/google-play.svg" class="site_header__icon--default">
                </a>
            </div>
        </div>
        <div class="p-2 flex-fill"></div>
      </div>
</footer>

</body>
<script src="../bootstrap-5.3.3/bootstrap.bundle.js"></script>

</html> 
